html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Libre Baskerville', serif;
}

p {
  font-size: 2.2rem;
  text-transform: uppercase;
}
span {
  font-size: 1.5rem;
  line-height: inherit;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./assets/samuel-pereira-uf2nnANWa8Q-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
.App img {
  width: 60%;
  min-height: 100px;
  margin: 50px 0;
}

.userNameForm {
  margin-bottom: 20px;
}

label {
  font-size: 2.2rem;
  color: white;
  margin-right: 20px;
}


.App input, 
.App button {
  height: 50px;
  font-size: 2.2rem;
}

.App input {
  width: 300px;
}

.App button  {
  width: 100px;
  vertical-align: top;
}

.gameBoard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 20px auto;
  background-color: #202020;
}
.playArea {
  display: flex;
}

.question, 
.userInput, 
.userBooth, 
.leaderboard {
  background-color: #102176;
  border: 5px solid black;
  margin: 5px;
  font-weight: 1000;
  color: #FFCC00;
  width: 200px;
}

.userInput, .userBooth {
  width: 400px;
  min-height: 300px;
  padding: 20px;
}

.userBooth p{
  font-size: 4rem;
  color: white;
  padding: 0;
  border-bottom: 5px solid black;
  margin: 0 0 5px 0;
}

.userBooth h2 {
  font-size: 4rem;
  color: white;
}

.userInput label {
  color: #FFCC00;
  font-size: 2.2rem;
  /* margin-top: 20px; */
}

.userInput input, 
.userInput button {
  margin: 0 auto;
}

.userInput input {
  margin-top: 20px;
  display: block;
}

.finalScoreForm {
  display: block;
  margin: 0 auto;
}
.finalScoreForm button {
  margin-top: 20px;
  width: 100%;
}

.hidden {
  display: none;
}

.correct, 
.incorrect {
  pointer-events: none;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.leaderboard {
  background-color: black;
  width: 400px;
  margin-top: 4rem;
}

.leaderboard h2 {
  font-size: 4rem;
  color: white;
  padding-bottom: 3rem;
  /* border-bottom: 5px solid white; */
  margin-bottom: 0;
}

.leaderboard p {
  color: white;
  padding: 2rem;
  margin: 0;
}

.leaderboard p:first-of-type {
  background-color: #ffd900ce;
}

.leaderboard p:nth-child(3) {
  background-color: #c0c0c0c0;
}

.leaderboard p:nth-child(4) {
  background-color: #804A00;
}




@media (max-width: 870px) {
  .gameBoard {
    grid-template-columns: 1fr 1fr;
  }
  .playArea{
    display: block;
  }
}